.lbg-shadow {
  background-color: white !important;
  box-shadow: #f40e0040 0px 0px 30px 0px;
  /* transition: all 0.3s; */
}

.projectRecoveryIcon {
  box-shadow: #f40e0040 0px 0px 30px 0px;
}

/*  */
@keyframes spin-tire {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spin-tire {
  animation: spin-tire 15s linear infinite;
  transform-origin: center;
}
